services:
  kafka-init:
    image: apache/kafka:3.7.0
    container_name: kafka-init
    entrypoint: ["/bin/bash", "-c"]
    command: |
      set -e
      if [ ! -f /var/lib/kafka/data/meta.properties ]; then
        echo "Initializing Kafka KRaft storage..."
        /opt/kafka/bin/kafka-storage.sh format \
          --ignore-formatted \
          --cluster-id $(/opt/kafka/bin/kafka-storage.sh random-uuid) \
          --config /opt/kafka/config/kraft/server.properties
      else
        echo "Kafka already initialized"
      fi
    volumes:
      - kafka_data:/var/lib/kafka/data

  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka
    depends_on:
      - kafka-init
    ports:
      - "9092:9092"
    environment:
      KAFKA_KRAFT_MODE: "true"
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_BROKER_ID: 1
      KAFKA_NUM_PARTITIONS: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: true

    volumes:
      - kafka_data:/var/lib/kafka/data

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      - kafka
    ports:
      - "8085:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092

  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  orders-service:
    build: ./orders
    container_name: orders-service
    depends_on:
      kafka:
        condition: service_started
      postgres:
        condition: service_healthy
    environment:
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      KAFKA_ADDR: ${KAFKA_ADDR}
    ports:
    - "8080:8080"
    develop:
      watch:
        - path: ./orders
          action: rebuild

  orders-migrations:
    image: migrate/migrate
    container_name: orders-migrations
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./orders/migrations:/migrations
    entrypoint: ["migrate"]
    command:
      [
        "-path", "/migrations",
        "-database", "${DATABASE_URL}",
        "up"
      ]
    restart: "no"

volumes:
  postgres_data:
  kafka_data: